# игнорировать всё
*

# но не папки (чтобы git заходил внутрь)
!*/

# и не файлы с расширением (.c, .h, .md ...)
!*.*

# файлы без расширения, которые нужно хранить
!Makefile
!.gitignore

# а вот артефакты с расширением всё равно игнорировать
*.o
*.a
*.so
*.out
